- masthead do |m|
  - m.title 'Title <strong>Hi</strong>',       :no_escape => true
  - m.subtitle 'Subtitle <strong>Hi</strong>', :no_escape => false
  - m.right_title 'Right title <strong>Hi</strong>'
