- masthead do |m|
  - m.title 'Title',                   :link => '/title'
  - m.subtitle 'Subtitle',             :link => '/subtitle'
  - m.right_title 'Right title',       :link => '/right_title'
  - m.right_subtitle 'Right subtitle', :link => '/right_subtitle'
