- masthead do |m|
  - m.title 'Title',                   :class => 'my_title'
  - m.subtitle 'Subtitle',             :class => 'my_subtitle'
  - m.right_title 'Right title',       :class => 'my_right_title'
  - m.right_subtitle 'Right subtitle', :class => 'my_right_subtitle'
