:ruby
  Kin::Nav.setup(:test) do |nav|
    # Item with a URL generated at runtime.
    nav.add(:resource, 'Show resource').resource(:show)
  end

= display_navigation(:test, :resource => FakeModel.new)
